@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
<div class="modal fade" id="modal-edit-task" tabindex="-1" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-edit-task-title" data-bind="text: title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="txtTitleCreateTask"
                                   placeholder="@localizer["Title"]"
                                   autocomplete="off"
                                   data-bind="value: title, event: { change: handleChangeEditTask }" />
                            <label for="txtTitleCreateTask">@localizer["TaskTitle"]</label>
                        </div>
                        <div class="mb-3">
                            <label>@localizer["Description"]</label>
                            <textarea type="text" class="form-control" rows="4"
                                      data-bind="value: description,
                                        event: { change: handleChangeEditTask }">

                            </textarea>
                        </div>
                        <div class="mb-3">
                            <partial action="" name="_Steps" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button data-bind="{click: tryDeleteTask }"
                                class="btn btn-secondary mb-2 w-100 text-start">
                            <i class="fa fa-window-close bg-danger"></i>
                            @localizer["DeleteTask"]
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>